 - name: Add postgresql apt key file
   copy: src=ACCC4CF8.asc dest=/etc/apt/postgres.asc

 - name: apt-key postgres
   apt_key: file=/etc/apt/postgres.asc state=present
   
 - name: Add postgresql repository
   apt_repository: repo='deb http://apt.postgresql.org/pub/repos/apt/ wheezy-pgdg main' state=present update_cache=yes
   
 - name: Install postgresql server
   apt: name=postgresql-9.3 state=present

 - name: Odoo postgresql user
   postgresql_user: name={{ odoo_user }} role_attr_flags=SUPERUSER state=present
   sudo: yes
   sudo_user: postgres
         
